/* General styling */

body {
    font-family: Helvetica, Garamond, Arial, Verdana;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.row {
    margin: 0;
}

/* Header */

header {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    float: left;
    border-bottom: 5px solid #CD1717;
    background-color: #000;
}

/* logo */

#logo-container {
    position:absolute;
    left: 10px;
    top:0;
    padding:0;
    margin:0;
}

#logo {
    height: 100px;
    width: 100px;
}

/* top nav bar */

.nav-top-container {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 0;
    height: 100px;
}

.nav-top {
    list-style-type: none;
    float: right;
    position: absolute;
    right: 0;
    padding: 0;
    max-width: 100%;
}

.nav-top li {
    float:left;
    width:100px;
    height:100px;
    font-weight:bold;
    position:relative;
    bottom:0;
}

.nav-top li a {
    display: block;
    width:80px;
    height:60px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    background-color: #000;
    border: 2px solid #CF1717;
    padding: 15px 0;
    margin-top: calc((100% - 60px)/2); /* 50% of header height - height of anchor */
    margin-bottom: calc((100% - 60px)/2); /* 50% of header height - height of anchor */
    border-radius:7px;
    transition: all 0.2s ease-in-out;
}

.nav-top li a:hover, .return:hover {
    color:#000;
    background-color:#fff;
    border-color:#CF1717;
}

.nav-top li .active {
    color: #000;
    background-color: #CF1717;
    border-color: #fff;
}

.dropdown-menu {
  min-width: 140px;
  background-color: #000;
  padding: 0;
}

.dropdown-menu .dropdown-item {
  min-width: 90%;
  margin: 5px auto;
}

/* main body section */

.main-content {
    margin-top: 100px;
    min-height: calc(100vh - 185px); /* 185px = sum of header and footer height */
}

.index-content {
    padding: calc((100vh - 540px)/2) 10%;
}

.guide-content {
    padding: 20px 10%;
}
.guide-content .guide p {
    text-align: left;
}

.contact-content {
    padding: calc((100vh - 720px)/2) 10%;
}

.main-content p {
    font-size: 1.2rem;
}

.main-content p, .main-content form {
    margin-bottom: 0.3rem;
}

.main-content h1 {
    font-weight: bold;
}

.main-content p, .main-content h1, .main-content h3 {
    text-align: center;
}

.text-block p:first-child, .text-block p:last-child {
    margin-bottom: 1rem;
}

.toc {
    max-width: 280px;
    width: 80vw;
    padding-left: 10px;
    border: 3px solid #CF1717;
    background-color: #CCC;
    border-radius: 4px;
}

.guide h4, .guide h3 {
    margin: 20px 0;
    font-weight: bold;
}

.guide img {
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    border: 1px solid #CCC;
}

.guide a:hover {
  text-decoration: none;
}

.return {
    font-size: 12px;
    position: fixed;
    right: 20px;
    bottom: 90px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    border:2px solid #CF1717;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

/* contact form */

.contact-form {
    width: 100%;
}

.form-header {
    text-align: center;
}

.contact-form form {
    width: 100%;
    max-width: 700px;
    background-color: #000;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #CF1717;
    border-radius: 6px;
}

.contact-form .container {
    max-width: 100%;
    padding: 3vh 0;
    margin: 0;
}

.contact-form label {
    padding: 0;
}

.contact-form label, .contact-form input, .contact-form select, .contact-form textarea{
    margin: 2px 5%;
}

.contact-form input, .contact-form select, .contact-form textarea{
    max-width: 90%;
    min-height: 30px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.buttons input {
    border-radius: 4px;
    font-weight: bold;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    height: 85px;
    width:100%;
    float: left;
    border-top: 5px solid #CD1717;
    background-color: #000;
    color:#fff;
}

footer .container {
    height:80px;
    max-width: 100%;
    padding:0 0 0 10px;
    margin: 0;
}

footer p {
    padding:10px 0;
}

.footer-row {
    height:80px;
    display:flex;
}

.footer-row div {
    max-height: 100%;
}

.copyright {
    padding-top: 19px;
}

.footer-contact {
    text-align: center;
    max-width: 60vw;
    padding-top: 8px;
}

.socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
    padding-top: 22px;
}

.footer-row .col-3 {
    max-width: 20vw;
}

/* responsive elements */

@media screen and (max-width: 767.8px) {
    .nav-top li {
        width: 85px;
    }

    .nav-top li a {
        width: 70px;
        height: 52.5px;
        padding: 13px 0;
        margin-top: calc((100px - 52.5px)/2); /* 50% of header height - height of anchor */
        margin-bottom: calc((100px - 52.5px)/2); /* 50% of header height - height of anchor */
        font-size: 15px;
    }

    .index-content {
        padding: calc((100vh - 700px)/2) 10%;
    }

    .contact-content {
        padding: calc((100vh - 770px)/2) 10%;
    }

    .footer-row div p {
        font-size: 15px;
    }

    .fab {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 697.8px) { /* copyright text takes up 2 lines at this point, causing padding to overflow */
    .copyright {
        padding-top: 10px;
    }
}

@media screen and (max-width: 575.8px) {
    .nav-top li {
        width: 78px;
    }

    .nav-top li a {
        width: 65px;
        height: 48.75px;
        padding: 12px 0;
        margin-top: calc((100px - 48.75px)/2); /* 50% of header height - height of anchor */
        margin-bottom: calc((100px - 48.75px)/2); /* 50% of header height - height of anchor */
        font-size: 14px;
    }

    .index-content {
        padding: calc((100vh - 740px)/2) 10%;
    }

    .contact-content {
        padding: calc((100vh - 850px)/2) 10%;
    }

    .footer-row div p {
        font-size: 14px;
    }

    .fab {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 450.8px) {
    .nav-top li {
        width: 58px;
    }

    .nav-top li a {
        width: 50px;
        height: 37.5px;
        font-size: 10px;
        padding: 10px 0;
        margin-top: calc((100px - 37.5px)/2); /* 50% of header height - height of anchor */
        margin-bottom: calc((100px - 37.5px)/2); /* 50% of header height - height of anchor */
    }

    .index-content {
        padding: calc((100vh - 830px)/2) 10%;
    }

    .contact-content {
        padding: calc((100vh - 925px)/2) 10%;
    }

    .footer-row div p {
        font-size: 10px;
    }

    .fab {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 340.8px) {
    .nav-top {
        width: 150px;
    }

    .nav-top li {
        width: 48px;
    }

    .nav-top li a {
        width: 45px;
        height: 33.75px;
        font-size: 9px;
        padding: 9px 0;
        margin-top: calc((100px - 33.75px)/2); /* 50% of header height - height of anchor */
        margin-bottom: calc((100px - 33.75px)/2); /* 50% of header height - height of anchor */

    }

    .nav-top li:last-child {
        margin-right: -18px;
    }

    .index-content {
        padding: calc((100vh - 1000px)/2) 10%;
    }

    .contact-content {
        padding: calc((100vh - 1000px)/2) 10%;
    }

    .toc h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .footer-row div p {
        font-size: 9px;
    }

    .fab {
        font-size: 0.6em;
    }
}
